{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<h4> Эмчилгээ нэмэх </h4>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.start_date|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.end_date|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.worker|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.costumer|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.onosh|as_crispy_field }}
      </div>
    </div>
    <div class="card bg-light my-3 {{ formset1.prefix }}">
      <div class="card-body text-left">
        <h4> Шаардлагатай эм </h4>
        <table class="table form-table table-bordered table-sm">
          <thead class="thead-light text-center">
            <tr>
              <th>  Эмчилгээ </th>
              <th> Нэр </th>
              <th> Ширхэг </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for form_data2 in formset2 %}
              <tr class="{{ formset2.prefix }}">
                  <td>
                      {{ form_data2.emchilgee_list}}
                  </td>
                  <td>
                      {{ form_data2.name}}
                  </td>
                  <td>
                      {{ form_data2.shirheg }}
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger btn-sm remove-form-row" id="{{ formset2.prefix }}">
                          <i class="fa fa-trash"></i>
                      </button>
                  </td>
              </tr>
          {% endfor %}
          <tr>
              <td colspan="9" style="border-left: none!important; border-right: none !important; border-bottom: none !important;">
                  <button type="button" class="btn btn-sm btn-success add-form-row" id="{{ formset2.prefix }}">
                     <i class="fa fa-plus"></i>
                  </button>
              </td>
          </tr>
          </tbody>
        </table>
        {{ formset2.management_form }}
      </div>
    </div>
    <input class="btn search" type="submit" value="Submit" />
</form>

<h4>Эмчилгээ харах</h4>
<table class="table">
<thead>
    <tr>
      <th> эхлэх огноо</th>
      <th> Дуусах онгоо </th>
      <th> Сувилагч </th>
      <th> Өвчтөн </th>
      <th> Онош </th>
    </tr>
</thead>
  <tbody>
      {% for drug in emchilgee %}
      <tr>
        <td> <a href='#'> {{ drug.id }} </a></td>
        <td>{{ drug.start_date }}</td>
        <td>{{ drug.end_date }}</td>
        <td>{{ drug.worker }}</td>
        <td>{{ drug.costumer }}</td>
        <td>{{ drug.onosh }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}
