{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<table border="1">
  <thead>
    <tr>
      <th> lname </th>
      <th> fname </th>
      <th> register </th>
      <th> gender </th>
      <th> pos </th>
      <th> age </th>
      <th> user </th>
    </tr>
  </thead>
  <tbody>
    {% for worker in object_list %}
      <tr>
        <td> {{ worker.lastname }} </td>
        <td> {{ worker.firstname }} </td>
        <td> {{ worker.register }} </td>
        <td> {{ worker.gender }} </td>
        <td> {{ worker.position }} </td>
        <td> {{ worker.age }} </td>
        <td> {{ worker.user }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
